# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rproj.user

/ShinyDemo.Rproj
inst/doc
man/figures/ShinyDemo_source.png
man/figures/ShinyDemo_source.pxd/metadata.info
man/figures/ShinyDemo_source.pxd/data/2CA65169-355B-43F2-AC4E-403E77BE0808
man/figures/ShinyDemo_source.pxd/data/B8C18FF0-3012-4174-8F4B-D0D3CABCC632
man/figures/ShinyDemo_source.pxd/data/originalImportedContentDocumentInfo
man/figures/ShinyDemo_source.pxd/QuickLook/Icon.tiff
man/figures/ShinyDemo_source.pxd/QuickLook/Thumbnail.tiff
docs
